@import "mixins";
@import "variables";

.excel__header {
  display: flex;
  justify-content: space-between;
  padding: 4px 7px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height:$header-height;
  align-items: center;

  .button {
    margin-right: 3px;
    @include button();
  }

  .input {
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 15px;
    outline: none;
    height: 20px;




    &:hover {
      border: 1px solid $border-color;
    }
    &:focus {
      border: 2px solid #1a73e8;
    }
  }
}